
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

/* all colors */
:root{
    --orange:rgb(253, 110, 10);
    --pinklight:rgb(255, 248, 243);
    --dark01:rgb(24, 24, 24);
    --dark02:rgb(71, 71, 71);
    --dark03:rgb(117, 117, 117);
}
h1{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: left;
}
.he2{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 85px;
font-weight: 700;
line-height: 116px;
letter-spacing: 0%;
text-align: left;
}
.he3{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 45px;
font-weight: 600;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
a{
    text-decoration: none;
    color: var(--dark03);
    
}
li{
    list-style: none;
}
/* headerstyles */
.headboss{
    background-color: var(--pinklight);
    background-image: url(/images/developer.png) ,url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left , bottom right;

}

/* navbar styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks{
    display: flex;
    gap: 20px;
    margin: 50px 100px 50px ;
    justify-content: center;
    align-items: center;
}
.name{
    color: var(--dark01);
    font-size: 40px;
    font-weight: 800;
    margin-left: 150px;
}
span{
    color: var(--orange);
}
.btn{
   width: 140px;
   color: white;
   font-size: 16px;
   font-weight: 700px;
   background-color: var(--orange);
   border-radius: 5px;
   border: none;
   padding: 15px 20px;
   
}
.btn2{
    width: 140px;
   color: var(--orange);
   font-size: 16px;
   font-weight: 700px;
   background-color: white;
   border-radius: 5px;
   border: 1px rgb(253, 110, 10);;
   padding: 15px 20px;
   margin-left: 10px;
   
}

/*hero section style*/

.hero{
    display: flex;
    margin: 0 100px 0 150px;
    justify-content: space-between;
    align-items: center;
}
.herotext{
   text-align: start;
}
.heropara{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin-bottom: 10px
}


/* main area desighning */
main{
    width: 1200px;
    margin: 0 auto;
}
/* about section desighining */
.about{
    padding: 132px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--pinklight);
    margin: 130px 50px;
}
.about > h2{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.about > p{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.add{
         display: flex;
         justify-content: space-between;
         
}
.addchild > h4{
    font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.addchild p{
    font-family: Open Sans;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
color: var(--dark03);
}
/* what section  */
.what{
    /* padding: 132px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 130px 50px;
}
.what > h4{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    }

.what > p{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
/* card section */
.cardwrap{
    margin: 130px 50px;
}
.cards{
    display: flex;
}